/SearchApp/nbproject/private/
/SearchApp/build/
/BinarySearchGUI/nbproject/private/
/BinarySearchGUI/build/
/ProgStatistics/nbproject/private/
/ProgStatistics/build/
/progStatistics/nbproject/private/
/progStatistics/build/
/progStat/nbproject/private/
/progStat/build/
/ProgStat/nbproject/private/
/ProgStat/build/
/SimpleServletProject/nbproject/private/
/ProgStat/dist/